.board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
  .dark {
    background-color: #769656;
    color: #fff;
  }
  
  .light {
    background-color: #eeeed5;
    color: #000;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .piece {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #000;
  }
  
  .black {
    background-color: #000;
  }
  
  .white {
    background-color: #fff;
  }
  
  /* ... Стилі для фігур ... */
  